# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
.build
/build/tmp/*
/build/natives/*
/build/reobfJar/*
/build/createSrgToMcp/*
/build/createMcpToSrg/*
/build/extractSrg/*
/build/_compileJava_2/*
/build/_postProcess_2/*
/build/downloadMCMeta/*
/build/downloadMcpConfig/*
!gcmzmod-*.jar
bin

# Other
*.log
*.swp
*.bak

# VScode
.vscode